body {
  background: url("../cartoon-student-math-class.jpg") no-repeat center/cover
    fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}

form {
  display: flex;
  gap: 15px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  width: 300px;
}

input:focus {
  outline: 5px solid darkred;
}

#calculate-btn {
  cursor: pointer;
  transition: all 0.3s;
  width: fit-content;
  padding: 0 20px;
}

#calculate-btn:hover {
  background-color: goldenrod;
  color: white;
}

img {
  width: 86px;
}

.imgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dot {
  width: 50px;
  padding-top: 91px;
}

.operator {
  padding: 0 10px;
  width: 120px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.3rem;
  transition: all 0.2s;
  border: none;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
}

button:hover {
  background-color: darkolivegreen;
}

.random-1,
.random-2 {
  position: absolute;
  top: 351px;
  left: 550px;
}

.random-2 {
  left: auto;
  right: 750px;
}

.exams-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.exams-container h2 {
  color: orange;
}
.exams-container a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  border: 3px solid darkgrey;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  transition: all 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.exams-container a:hover {
  background-color: rgb(155, 152, 152);
  color: #333;
  border: 3px solid #333;
}

.titles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.titles-container h1 {
  color: rgba(172, 255, 47, 0.873);
  text-decoration: underline rgb(142, 177, 71);
}
